@{ ViewData["Title"] = "Home Page";

}
@model List<Product>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5" >
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
            @foreach (var i in Model) {
                <div class="col mb-5">
                    <div class="card h-100" style="background-color:#76EEC6">
                    <!-- Sale badge-->
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    @*<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />*@
                    <img class="card-img-top" src="/@i.ImageUrl" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@i.Name</h5>
                            <!-- Product price-->
                            @Html.FormatValue(i.Price, "${0:#,##0}")
                        </div>
                    </div>
                    <!-- Product actions-->
                    @*<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>*@
                    <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn" asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@i.Id" style="background-color: red; color: white; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='darkturquoise';" onmouseout="this.style.backgroundColor='red';">Add to cart</a></div>
                        </div>
                </div>
            </div>
            }                
        </div>
    </div>
</section>
<div style="display: flex; justify-content: center;">
    <ul class="pagination">
        <li class="page-item @(ViewBag.PageIndex==null? "disabled":"")">
            <a class="page-link" asp-action="Index" asp-route-page="1">&laquo;</a>
        </li>

        @for (var i = 1; i <= ViewBag.PageSum; i++)
        {
            <li class="page-item @(ViewBag.PageIndex==i? "active": "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>

            </li>
       }

        <li class="page-item @(ViewBag.PageIndex==ViewBag.PageSum? "disabled":"")">
            <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.PageSum">&raquo;</a>
        </li>
    </ul>
</div>